extends layout

block content
  a.view-source.hidden-print(href='https://github.com/michaeljacobdavis/michaeljacobdavis.com')
    code.fake-html
        span(style='color: #586e75')&lt;!DOCTYPE html&gt;
        br
        span(style='color: #268bd2') &nbsp;&nbsp;&lt;html class=&quot;no-js&quot;&gt;
        br
        span(style='color: #268bd2') &nbsp;&nbsp;&nbsp;&nbsp;&lt;head&gt;

    div.curl
  header
    div.row-fluid.intro
      div.span6.header-box
        h1 Michael Davis
        div.info
          a.info-item.hidden-screen.visible-print.dont-show-url(href='http://www.michaeljacobdavis.com')
            i.icon-desktop
            |  www.michaeljacobdavis.com
          a.info-item.dont-show-url(href='mailto:mike@michaeljacobdavis.com')
            i.icon-envelope
            |  mike@michaeljacobdavis.com
          br
          a.info-item(href='http://www.linkedin.com/in/michaeljacobdavis')
            i.icon-linkedin
            |  LinkedIn
          br
          a.info-item(href='https://github.com/michaeljacobdavis')
            i.icon-github-alt
            |  GitHub
          br
          a.info-item(href='https://gist.github.com/michaeljacobdavis')
            i.icon-github
            |  Gists
          br
          span.info-item
            i.icon-map-marker
            |  San Diego, CA

      div.span5.header-box
        h2.hidden-print Front-End Developer
        p.about-me
          | Hi, I'm Mike Davis and I do front-end development. I currently work at Qualcomm
          | on a web application that enables patients to communicate and coordinate with their
          | care teams.
        p.about-me
          | I love working primarily in JavaScript, and its variations (CoffeeScript, NodeJS), but I dabble in C# in my day job, and
          | Ruby at home.
          
  main
    div.row-fluid
      div.span11.offset1
        h2 
          i.icon-briefcase
          |  Work History

        section.work-history
          div.row-fluid
            div.span5.employer.history-box
              h3 User Experience
              h4 Qualcomm
              time 
                i.icon-calendar
                |  &nbsp;April 2013 - Present
              p
                | At Qualcomm, I continued working on the HealthyCircles application moving it towards a
                | <abbr title='Single Page Application'>SPA</abbr> architecture. My projects have included
                | a dashboard for healthcare professionals to oversee large groups of patients and see early 
                | warning signs, a workflow for patients to add, remove and manage devices associated with their account, and
                | a dashboard of charts for patients to view their historical vital information.
              p
                | I continued presenting brownbags on Polyfills and Shims, and unit testing with Jasmine.

              ul.tags
                li.tag C#
                li.tag MVC4
                li.tag Web API (REST, OData)
                li.tag JavaScript
                li.tag Knockout
                li.tag Jasmine
                li.tag Kendo UI
                li.tag Moment
                li.tag jQuery
                li.tag RequireJS
                li.tag Modernizr
                li.tag Underscore
                li.tag Sammy

            div.span5.offset1.employer.history-box

              h3 UX Engineer III
              h4 HealthyCircles (Purchased by Qualcomm)
              time 
                i.icon-calendar
                |  &nbsp;October 2012 - April 2013
              p
                | At HealthyCircles, I was charged with increasing the performance and usability of the application.
                | By moving to a clientside Knockout based <abbr title='Model View ViewModel'>MVVM</abbr> <abbr title='Single Page Application'>SPA</abbr>
                | and using ASP.Net Web API as a RESTful backend, we were able to increase performance and decrease the size
                | of the dataset sent over the wire.

              p
                | Since a large portion of our user base is using older browsers (IE7+), we used Modernizr along with various shims/polyfills
                | to maintain browser compatibility and BrowserStack for browser testing.
              p
                | Additionally, I conducted brownbags on MVC4, Bundling/Minification, and MVVM/PubSub (KnockoutJS)

              ul.tags
                li.tag C#
                li.tag MVC4
                li.tag Web API (REST, OData)
                li.tag JavaScript
                li.tag Knockout
                li.tag Jasmine
                li.tag Kendo UI
                li.tag Moment
                li.tag jQuery
                li.tag RequireJS
                li.tag Modernizr
                li.tag BrowserStack



          div.row-fluid
            div.span5.employer.history-box

              h3 Web Developer/Designer
              h4 College Loan Corporation
              time
                i.icon-calendar
                |  &nbsp;December 2008 - October 2012
              p
                | As a senior member of the web team, I worked on a replacement for the
                | online loan application using jQuery, Modernizr, Handlebars, HTML5 (Local Storage,
                | Semantic Markup), ASP.NET MVC3, WCF and Microsoft CRM Dynamics. For testing we used QUnit, 
                | Moq and MSTest. We released every two weeks to a sample of users for feedback.
              ul.tags
                li.tag C#
                li.tag MVC3
                li.tag WCF
                li.tag MS CRM Dynamics
                li.tag Moq
                li.tag JavaScript
                li.tag jQuery
                li.tag Modernizr
                li.tag Handlebars
                li.tag QUnit
 
            div.span5.offset1.employer.history-box

              h3 Web Developer/Designer
              h4 CenterARTES at <abbr title='California State University'>CSU</abbr>, San Marcos
              time 
                i.icon-calendar
                |  &nbsp;January 2005 - May 2008
              p
                | At CenterArtes, I created and maintained the CenterARTES and Arts and Lectures
                | websites. Additionally I wrote an administrative control panel and mailing list manager
                | for the website.
              ul.tags
                li.tag PHP
                li.tag MySQL
                li.tag JavaScript
                li.tag jQuery

        div.row-fluid
          div.span5.history-box
            h2 
              i.icon-book
              |  Education

            section.education
              div.row-fluid
                div.span11.offset1
                  h3 <abbr title='California State University'>CSU</abbr>, San Marcos
                  h4 Bachelors, Arts and Technology
                  time
                    i.icon-calendar
                    |  &nbsp;Graduated December 2008
          div.span5.offset1.history-box
            h2
              i.icon-lightbulb
              | &nbsp; OpenCourseWare

            section.open-course-ware
              ul.styled
                li
                  a.dont-show-url(href='https://www.coursera.org/course/startup')
                    strong Startup Engineering
                  |  Stanford University
                li
                  a.dont-show-url(href='http://beta.saasbook.info/courses')
                    strong Software Engineering for SAAS
                  |  UC Berkeley
                li
                  a.dont-show-url(href='https://www.coursera.org/course/hci')
                    strong Human-Computer Interaction
                  |  Stanford University
                li
                  a.dont-show-url(href='https://www.cs164.net/Main_Page')
                    strong Mobile Software Engineering
                  |  Harvard University
                li
                  a.dont-show-url(href='https://www.cs75.net/Main_Page')
                    strong Building Dynamic Websites
                  |  Harvard University
                li
                  a.dont-show-url(href='https://www.cs50.net/')
                    strong Introduction to Computer Science I
                  |  Harvard University
