extends layout

block content
  header
    div.row-fluid.intro
      div.span5.offset1
        h1 Michael Davis
        div.info
          a.info-item(href='mailto:mike@michaeljacobdavis.com')
            i.icon-envelope
            |  mike@michaeljacobdavis.com
          br
          a.info-item(href='www.linkedin.com/in/michaeljacobdavis')
            i.icon-linkedin
            |  michaeljacobdavis
          br
          a.info-item(href='https://github.com/michaeljacobdavis')
            i.icon-github-alt
            |  michaeljacobdavis
          br
          span.info-item
            i.icon-map-marker
            |  San Diego, CA

      div.span6
        h2 Front-End Developer
        ul.qualifications
          li 10 years of experience with the Adobe Suite (Photoshop, Illustrator etc).
          li 10 years of experience designing, coding and deploying websites.
          li Proficient in JavaScript and JavaScript libraries (jQuery, YUI), HTML, CSS and C#.
          li Passion for standards based, semantic web development for all.
  main
    div.row-fluid
      div.span11.offset1
        h2 
          i.icon-briefcase
          |  Work History

        section
          div.row-fluid
            div.span6.employer
              h3 User Experience
              h4 Qualcomm
              time April 2013 - Present
              p
                | Explanation Here
            div.span6.employer

              h3 UX Engineer III
              h4 Healthy Circles
              time October 2012 - April 2013
              p
                | Explanation Here
          div.row-fluid
            div.span6.employer

              h3 Web Developer/Designer
              h4 College Loan Corporation
              time December 2008 - October 2012
              p
                | Explanation Here
            div.span6.employer

              h3 Web Developer/Designer
              h4 CenterARTES at <abbr title='California State University'>CSU</abbr>, San Marcos
              time January 2005 - May 2008
              p
                | Explanation Here

        div.row-fluid
          div.span6
            h2 
              i.icon-book
              |  Education

            section
                  h3 <abbr title='California State University'>CSU</abbr>, San Marcos
                  h4 Bachelors, Arts and Technology
          div.span6
            h2
              i.icon-lightbulb
              | &nbsp; OpenCourseWare

            section
              ul
                li
                  a(href='https://www.coursera.org/course/startup')
                    strong Startup Engineering
                  |  Stanford University
                li
                  a(href='http://beta.saasbook.info/courses')
                    strong Software Engineering for SAAS
                  |  UC Berkeley
                li
                  a(href='https://www.coursera.org/course/hci')
                    strong Human-Computer Interaction
                  |  Stanford University
                li
                  a(href='https://www.cs164.net/Main_Page')
                    strong Mobile Software Engineering
                  |  Harvard University
                li
                  a(href='https://www.cs75.net/Main_Page')
                    strong Building Dynamic Websites
                  |  Harvard University
                li
                  a(href='https://www.cs50.net/')
                    strong Introduction to Computer Science I
                  |  Harvard University



