extends layout

block content
  header
    div.row-fluid.intro
      div.span5.offset1
        h1 Michael Davis
        div.info
          a(href='mailto:mike@michaeljacobdavis.com')
            i.icon-envelope &nbsp;mike@michaeljacobdavis.com
          br
          a(href='https://github.com/michaeljacobdavis')
            i.icon-github-alt &nbsp;michaeljacobdavis
          br
          i.icon-map-marker &nbsp;&nbsp;San Diego, CA

      div.span6
        h2 Front-End Developer
        ul.qualifications
          li 10 years of experience with the Adobe Suite (Photoshop, Illustrator etc).
          li 10 years of experience designing, coding and deploying websites.
          li Proficient in JavaScript and JavaScript libraries (jQuery, YUI), HTML, CSS and C#.
          li Passion for standards based, semantic web development for all.
  main
    div.row-fluid
      div.span11.offset1
        h2 Work History

        div.row-fluid
          div.span6.employer
            h3 User Experience
            h4 Qualcomm
            time April 2013 - Present
            p
              | Explanation Here
          div.span6.employer

            h3 UX Engineer III
            h4 Healthy Circles
            time October 2012 - April 2013
            p
              | Explanation Here
        div.row-fluid
          div.span6.employer

            h3 Web Developer/Designer
            h4 College Loan Corporation
            time December 2008 - October 2012
            p
              | Explanation Here
          div.span6.employer

            h3 Web Developer/Designer
            h4 CenterARTES at California State San Marcos
            time January 2005 - May 2008
            p
              | Explanation Here

        h2 Education


