!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//[if gt IE 8]><!
html(class='no-js')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
 
    title Michael Davis
 
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/components/bootstrap/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', href='/components/bootstrap/docs/assets/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
  body
    block content

    script(src='/components/jquery/jquery.js')
    script(src='/components/bootstrap/docs/assets/js/bootstrap.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/backbone/backbone.js')
    
