ul
  font-size: 1.1em
  list-style-type: none
  margin-left: 0
  padding-left: 1em
  text-indent: -1em

  li
    line-height: 1.6em
    list-style-type: none
    padding-left: 2em
    text-indent: -1em

    &:before
      content: '\f138'
      font-family: 'FontAwesome'
      margin-right: 1em
      margin-left: -1em

header
  background: transparent url(../images/texture.jpg)
  padding: 3%
  border-bottom: 1px solid #ccc


  h1,h2
    color: #505d63

  ul.qualifications

    li

  .info
    font-size: 1.3em
    line-height: 2em

    .info-item
      padding: .5em
      margin: .5em

      i
        width: 1.2em
        display: inline-block

    a
      color: #333

      &:hover
        text-decoration: none
        background: #3a7aa6
        color: #fff

main
  padding: 3%

  section
    margin-left: 5%

  h2
    margin-top: 1em
    color: #ccc

    i
      color: #777

  h3
    color: #627076

  time
    padding: .5em
    background: #f0f0f0
    margin: .5em 0
    display: inline-block

.view-source
  position: absolute
  z-index: 1

  code.fake-html
    position: absolute
    z-index: -1
    transition: all .5s ease
    width: 20px
    height: 20px
    overflow: hidden
    box-sizing: border-box
    background: #073642

  &:hover
    code.fake-html
      width: 100px
      height: 100px

    .curl
      width: 100px
      height: 100px

      &:before,
      &:after 
        box-shadow: 0 24px 30px rgba(0, 0, 0, .3)


  .curl
    width: 20px
    height:20px
    position: absolute
    top:0
    left:0
    background-color: transparent;
    background:linear-gradient(135deg, transparent, transparent 45%, rgba(0, 43, 54, .2) 50%,#aaa 50%,#bbb 56%,#ccc 62%,#f3f3f3 80%,#fff 100%)
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
    transition: all .5s ease

    &:before,
    &:after 
      content: ''
      position: absolute
      z-index: -1
      left: 12.5%
      bottom: 5.8%
      width: 70%
      max-width: 300px
      max-height: 100px
      height: 55%
      box-shadow: 0 12px 15px rgba(0, 0, 0, .3)
      transform: skew(-10deg) rotate(-6deg)

    &:after 
      left: auto
      right: 5.8%
      bottom: auto
      top: 14.16%
      transform: skew(-15deg) rotate(-84deg)
