@media print {
  html body {
    font-size: 10px;
    font-family: Georgia, serif;
  }
  html body h1,
  html body h2,
  html body h3,
  html body h4 {
    margin: 0.3em 0 !important;
    line-height: 1.2em !important;
  }
  html body h1 {
    font-size: 3em !important;
  }
  html body h2 {
    font-size: 2em !important;
  }
  html body h3 {
    font-size: 1.5em !important;
  }
  html body h4 {
    font-size: 1.25em !important;
  }
  html body p {
    margin-bottom: 0.5em !important;
    line-height: 1.3em !important;
  }
  html body a[href].dont-show-url:after {
    content: '';
  }
  html body abbr {
    border-bottom: none !important;
  }
  html body abbr:after {
    content: '' !important;
  }
  html body header {
    padding: 0 !important;
    border: none !important;
  }
  html body header .intro {
    padding: 0 !important;
  }
  html body header .intro div.info {
    line-height: 1.2em;
    margin-bottom: 1em;
    width: 50% !important;
    float: left !important;
  }
  html body header .intro div.info .info-item {
    font-size: 0.9em;
    line-height: 1.6em !important;
    margin: 0;
    padding: 0;
    margin: 1% 1% !important;
  }
  html body header .intro .about-me {
    width: 48% !important;
    margin: 1% 1% !important;
    float: left;
    font-size: 1.1em;
  }
  html body main {
    padding: 0 !important;
  }
  html body main ul.tags li.tag {
    margin: 0 !important;
    padding: 0 1em 0 0 !important;
    font-weight: bold !important;
  }
  html body main time {
    margin: 0 !important;
  }
  html body main .history-box {
    width: 48% !important;
    margin: 1% 1% !important;
    float: left !important;
  }
  html body main .education {
    margin-left: 10% !important;
  }
}
html body {
  padding: 0;
}
.hidden-screen {
  display: none;
}
ul.styled {
  font-size: 1.1em;
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}
ul.styled li {
  line-height: 1.6em;
  list-style-type: none;
  padding-left: 2em;
  text-indent: -1em;
}
ul.styled li:before {
  content: '\f138';
  font-family: 'FontAwesome';
  margin-right: 1em;
  margin-left: -1em;
}
@media (max-width: 767px) {
  .intro {
    padding: 0 2.5%;
  }
}
header {
  background: url("http://farm7.staticflickr.com/6156/6193763495_339cc499ae_o.png") no-repeat 0 -150px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 8%;
  border-bottom: 1px solid #ccc;
}
header .intro {
  background: rgba(0,0,0,0.4);
}
header h1,
header h2 {
  color: #fff;
  -webkit-text-shadow: 1px;
  -moz-text-shadow: 1px;
  -khtml-text-shadow: 1px;
  -ms-text-shadow: 1px;
  -o-text-shadow: 1px;
  text-shadow: 1px;
}
header p.about-me {
  color: #fff;
  -webkit-text-shadow: 1px;
  -moz-text-shadow: 1px;
  -khtml-text-shadow: 1px;
  -ms-text-shadow: 1px;
  -o-text-shadow: 1px;
  text-shadow: 1px;
}
header .info {
  font-size: 1.3em;
  line-height: 2em;
}
header .info .info-item {
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  -webkit-text-shadow: 1px;
  -moz-text-shadow: 1px;
  -khtml-text-shadow: 1px;
  -ms-text-shadow: 1px;
  -o-text-shadow: 1px;
  text-shadow: 1px;
}
header .info .info-item i {
  width: 1.2em;
  display: inline-block;
}
header .info a {
  color: #333;
}
header .info a:hover {
  text-decoration: none;
  background-color: #0099e8;
  color: #fff;
}
main {
  padding: 3%;
}
main section {
  margin-left: 5%;
}
main h2 {
  margin-top: 1em;
  color: #0099e8;
  white-space: nowrap;
}
main h2 i {
  color: #777;
}
main h3 {
  color: #627076;
}
main time {
  padding: 0.5em;
  background: #0099e8;
  color: #fff;
  margin: 0.5em 0;
  display: inline-block;
  background: #0099e8;
}
main ul.tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
main ul.tags li.tag {
  background: #ddd;
  display: inline-block;
  padding: 0.35em;
  margin: 0.25em;
}
.no-cssgradients .view-source {
  display: none;
}
.view-source {
  position: absolute;
  z-index: 1;
}
.view-source code.fake-html {
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -khtml-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 20px;
  height: 20px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #073642;
  border: none;
}
.view-source:hover code.fake-html {
  width: 100px;
  height: 100px;
}
.view-source:hover .curl {
  width: 100px;
  height: 100px;
}
.view-source:hover .curl:before,
.view-source:hover .curl:after {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -khtml-box-shadow: 0;
  -ms-box-shadow: 0;
  -o-box-shadow: 0;
  box-shadow: 0;
}
.view-source .curl {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(135deg, transparent, transparent 45%, rgba(0,43,54,0.2) 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%);
  background-image: -moz-linear-gradient(135deg, transparent, transparent 45%, rgba(0,43,54,0.2) 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%);
  background-image: -khtml-linear-gradient(135deg, transparent, transparent 45%, rgba(0,43,54,0.2) 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%);
  background-image: -ms-linear-gradient(135deg, transparent, transparent 45%, rgba(0,43,54,0.2) 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%);
  background-image: -o-linear-gradient(135deg, transparent, transparent 45%, rgba(0,43,54,0.2) 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%);
  background-image: linear-gradient(135deg, transparent, transparent 45%, rgba(0,43,54,0.2) 50%, #aaa 50%, #bbb 56%, #ccc 62%, #f3f3f3 80%, #fff 100%);
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -khtml-box-shadow: 0;
  -ms-box-shadow: 0;
  -o-box-shadow: 0;
  box-shadow: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -khtml-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.view-source .curl:before,
.view-source .curl:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 12.5%;
  bottom: 5.8%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -khtml-box-shadow: 0;
  -ms-box-shadow: 0;
  -o-box-shadow: 0;
  box-shadow: 0;
  -webkit-transform: skew(-10deg) rotate(-6deg);
  -moz-transform: skew(-10deg) rotate(-6deg);
  -khtml-transform: skew(-10deg) rotate(-6deg);
  -ms-transform: skew(-10deg) rotate(-6deg);
  -o-transform: skew(-10deg) rotate(-6deg);
  transform: skew(-10deg) rotate(-6deg);
}
.view-source .curl:after {
  left: auto;
  right: 5.8%;
  bottom: auto;
  top: 14.16%;
  -webkit-transform: skew(-15deg) rotate(-84deg);
  -moz-transform: skew(-15deg) rotate(-84deg);
  -khtml-transform: skew(-15deg) rotate(-84deg);
  -ms-transform: skew(-15deg) rotate(-84deg);
  -o-transform: skew(-15deg) rotate(-84deg);
  transform: skew(-15deg) rotate(-84deg);
}
