ul
  font-size: 1.1em
  list-style-type: none
  margin-left: 0
  padding-left: 1em
  text-indent: -1em

  li
    line-height: 1.6em
    list-style-type: none
    padding-left: 2em
    text-indent: -1em

    &:before
      content: '\f138'
      font-family: 'FontAwesome'
      margin-right: 1em
      margin-left: -1em

header
  background: transparent url(../images/texture.jpg);
  padding: 3%
  border-bottom: 1px solid #ccc


  h1,h2
    color: #505d63

  ul.qualifications

    li

  .info
    font-size: 1.3em
    line-height: 2em

    .info-item
      padding: .5em
      margin: .5em

      i
        width: 1.2em
        display: inline-block

    a
      color: #333

      &:hover
        text-decoration: none
        background: #3a7aa6
        color: #fff

main
  padding: 3%

  section
    margin-left: 5%

  h2
    margin-top: 1em
    color: #ccc

    i
      color: #777

  h3
    color: #627076

  time
    padding: .5em
    background: #f0f0f0
    margin: .5em 0
    display: inline-block
