header
  background: transparent url(../images/texture.jpg);
  padding: 5%
  border-bottom: 1px solid #ccc


  h1,h2
    color: #505d63
  .qualifications
    font-size: 1.1em
    li
      line-height: 1.6em
  .info
    font-size: 1.3em
    line-height: 2em
    a
      color: #333
      &:hover i
        text-decoration: none;

main
  padding: 5%

  section
    margin-left: 5%
